*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 834px;
  height: 1194px;
  background: #1c1e42;
  overflow: hidden;
}